################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/clear-arch/.vs/clear-arch/v16
